:root {
    --AWakePrimary: #454552;
    --AWakeSecondary: #9595cf;
    --AWakeTertiary: #E6EEF4;
}

.headerFooter {
    background-color: var(--AWakePrimary);
    color: var(--AWakeTertiary)
}

.lightFont {
    color: var(--AWakeTertiary)
}

.bgPrimary {
    background-color: var(--AWakePrimary);
}

.d-flex {
    display: flex;
}

.headerBGImage {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(5, 33, 59, 0.904) 25%, rgba(0,212,255,0) 100%), url("https://asset.vg247.com/alan%20wake%20remastered%20wide.jfif/BROK/resize/1200x630%3E/format/jpg/quality/80/alan%20wake%20remastered%20wide.jfif");
    background-size: cover;
    background-position: center;
}

.content-spill {
    /* position:relative;
    bottom: -2em;
    right: 3em; */
    transform: translateY(3em)
}