:root {
    --AWakePrimary: #05213be7;
    --AWakeSecondary: #596c7ee7;
    --AWakeTertiary: #E6EEF4;
    --AWakeQuarternary: #bbc9df;
}

.headerFooter {
    background-color: var(--AWakePrimary);
    color: var(--AWakeTertiary)
}

.darkFont {
    color: var(--AWakePrimary)
}

.midFont {
    color: var(--AWakeSecondary)
}

.quarterFont {
    color: var(--AWakeQuarternary)
}

.lightFont {
    color: var(--AWakeTertiary);
    text-shadow: 1px 1px 3px #000000;
}

.bgPrimary {
    background-color: var(--AWakePrimary);
}

.bgSecondary {
    background-color: var(--AWakeSecondary);
}

.bgTertiary {
    background-color: var(--AWakeTertiary);
}

.headFont {
    position: absolute;
    top: 200px;
}

.navLeft {
    font-family: 'Courier New';
    color: var(--AWakeTertiary);
}

.headerBGImage {
    background: linear-gradient(0deg, #000000 0%, #05213be7 35%, #00d4ff00 100%), url("https://64.media.tumblr.com/aa1d0554d95fd86a045e543d1664b118/e272f3cf3e241f6e-88/s2048x3072/40f3d8464d694f6c580c366b31f853271bf92a60.png");
    background-size: cover;
    background-position: center;
    height: 38em;
}

.mailingList {
    box-shadow: 1px 1px 4px;
    color: var(--AWakePrimary)
}

.checkBoxFont {
    font-size: 10px;
}

.content-spill {
    transform: translateY(4em)
}

.socialsCard {
    position: absolute;
    width: 22em;
    height: 14em;
    box-shadow: 1px 1px 4px var(--AWakePrimary);
}

.d-flex {
    display: flex;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.AWHeadshot {
    size: 250px;
}

.AWakeBio {
    position: relative;
    top: 180px;
}

.reviewCard {
    height: 15rem;
    width: 25rem;
}

.ACaseyBooks {
    max-width: 350px;
    height: auto;
}

.footer {
    height: 11em;
}